{% extends 'admin/master.html' %}

{% block body %}
<h3>Admin Portal Home</h3>
<h4 style="font-style: italic">User Tab</h4>
<div>Manage all users: create, delete, and edit existing users</div>
<h4 style="font-style: italic">Points Tab</h4>
<div>View and manage the points allocations for all existing users</div>
<h4 style="font-style: italic">Overview Tab</h4>
<div>Manage all lotteries: view by date and rotation number</div>
<h4 style="font-style: italic">Lottery Tab</h4>
<div>Launch a new lottery based on registered user data or by uploading a new file</div>
<br/>
<div>Click <a href="{{ url_for('main.index') }}" class="navbar-item">here</a> to return to the home page</div>
{% endblock %}