{% extends 'admin/master.html' %}

{% block body %}
<h3>Admin Portal Home</h3>
<h4 style="font-style: italic">Registered Users</h4>
<div>Manage all users: create new users or delete existing users</div>
<h4 style="font-style: italic">Points Allocations</h4>
<div>View or delete the points allocations for existing users</div>
<h4 style="font-style: italic">Lottery History</h4>
<div>Manage all previous lotteries: view or delete lotteries</div>
<h4 style="font-style: italic">New Lottery</h4>
<div>Launch a new lottery based on registered users or by uploading a new file</div>
<br/>
<div>Click <a href="{{ url_for('main.index') }}" class="navbar-item">here</a> to return to the home page</div>
{% endblock %}