<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Begin Lottery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<script>
    function getRotationData(rotationSelected) {
        // handle retrieval or rotation data based on user selection
        $('#data-href').click(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/lottery_participants',
                data: {"rotation": rotationSelected},
                success: function (allParticipants) {
                    listSelector = $("#listSelector");
                    $.each(allParticipants, function (index, participant) {
                        listSelector.append("<li>" + participant.Name + ": " + participant.Points + "</li>")
                    });
                    $('#participants').append(listSelector)
                }
            });
            return false;
        });
    }

    $(function () {
        $('#rotation-selected').change(function () {
            $('#rotation-val').val($(this).val());
            $("#listSelector").html('');
        }).change(); // Trigger the event
    });
</script>

<div class="container">
    <div class="col-md-12">
        <br/>
        <div class="col-md-12">
            <h1>Start a Lottery</h1>
            <h4>Launch a lottery for a given rotation based on each users
                points submissions or upload an existing file with the lottery data</h4>
            <div class="col-md-12">
                <br/>
                <h4 style="font-style: italic">Option 1: Start lottery for all registered participants</h4>
            </div>
            <div class="col-md-12">
                <form action="/admin_lottery" method="POST"
                      enctype="multipart/form-data">
                    <div class="input-group">
                        <span class="input-group-addon">Select a rotation number</span>
                        <select name="rotation_select" id="rotation-selected" class="selectpicker form-control">
                            {% for rotation in rotation_numbers %}
                            <option value="{{ rotation }}">{{ rotation }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br/>
                    <div>Click <span><a id="data-href" href="javascript:getRotationData($('#rotation-selected').val())">here</a></span>
                        to load the full list of lottery allocations for rotation <input style="border:none"
                                                                                         id="rotation-val" readonly/>
                    </div>
                    <br/>
                    <div class="col-md-12" style="font-weight: bold" id="participants">
                        <ul id="listSelector"></ul>
                    </div>
                    <br/><br/>
                    <input type="submit"/>
                </form>
            </div>
            <br/>
            <div class="col-md-12">
                <hr style="color:black">
                <h4 style="font-style: italic">Option 2: Upload file to start lottery</h4>
                <div style="font-style: italic">*Note: columns must include the headers "Name" and "Points"</div>
                <br/>
                <form action="/results" method="POST"
                      enctype="multipart/form-data">
                    <div class="input-group">
                        <span class="input-group-addon">Select a rotation number</span>
                        <select name="rotation_select" class="selectpicker form-control">
                            {% for rotation in rotation_numbers %}
                            <option value="{{ rotation }}">{{ rotation }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br/>
                    <br/>
                    <div style="font-style: italic">File must be in xls or xlsx format</div>
                    <input type="file" name="file" accept=".xls, .xlsx"/>
                    <br/>
                    <input type="submit"/>
                </form>
                <br/><br/>
                <div>Click <a href="{{ url_for('admin.index') }}" class="navbar-item">here</a> to return to the main
                    admin page
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>