<script>
    function updateTextInput(el) {
        let currIdx = el.name - 1;
        document.getElementById('textInput' + '[' + currIdx + ']').value = el.value;
    }
</script>

{% extends "base.html" %}

{% block content %}
<h1 class="title" style="text-align: left">
    Hi, {{ name }}!
</h1>
<div class="col-md-12" style="text-align: left">
    <div class="col-md-12">
        <br/>
        <div>You have been assigned a total of <b>{{ max_points }}</b> points to distribute across <b>{{
            rotations|length}} </b> rotations
        </div>
        <br/>
        <div class="check-submissions">
            {% if num_submissions_remaining == 0 %}
            <div><b>Your points allocations have been locked</b></div>
            {% else %}
            <div>You have <b>{{ num_submissions_remaining }}</b> more chance(s) to update your points allocations
            </div>
            {% endif %}
        </div>
        <hr style="width:50%"/>
        <div class="check-points">
            {% if num_submissions_remaining == 0 %}
            <div>Here is the breakdown of your final points allocations:</div>
            <ul style="list-style: none;">
                {% for result in points_results %}
                <li>{{ rotation_names[loop.index-1] }}: <b>{{result}}</b></li>
                {% endfor %}
            </ul>
            {% else %}
            {% if points_results %}
            <div>Here are the current points you have allocated:</div>
            <ul style="list-style: none;">
                {% for result in points_results %}
                <li>{{ rotation_names[loop.index-1] }}: <b>{{result}}</b></li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
<div class="col-md-12" id="trial" style="text-align: left;">
    <div class="allocate-points">
        {% if num_submissions_remaining != 0 %}
        <div class="first-time-check">
            {% if points_results %}
            <br/>
            <h1 style="font-weight: bold">OPTIONAL NEXT STEPS</h1>
            <br/>
            <div style="font-style: italic">Update your existing allocations</div>
            {% else %}
            <h1 style="font-weight: bold">GETTING STARTED</h1>
            <br/>
            <div style="font-style: italic">Allocate your points for each rotation</div>
            {% endif %}
        </div>
        <div class="next-steps">
            <div class="input-group">
                <form name="{{name}}" action="/allocations" method="POST" enctype="multipart/form-data">
                    {% for rotation in rotations %}
                    <label for="pointsInput">{{ rotation_names[loop.index-1] }}: </label>
                    {% if points_results %}
                    <input type="range" name="{{rotation}}" id="pointsInput" value="{{points_results[loop.index -1]}}"
                           min="1" max="25" onchange="updateTextInput(this);"/>
                    <input type="text" id="textInput{{[loop.index -1]}}" value="{{points_results[loop.index -1]}}"
                           style="background: none; border:none;color:white"/>
                    <br/>
                    {% else %}
                    <input type="range" name="{{rotation}}" id="pointsInput" value="5" min="1"
                           max="25" onchange="updateTextInput(this);">
                    <input type="text" id="textInput{{[loop.index -1]}}" value="5"
                           style="background: none; border:none;color:white">
                    <br/>
                    {% endif %}
                    {% endfor %}
                    <br/>
                    <input type="submit" value="Update Allocations"/>
                </form>
            </div>
        </div>
        {% endif %}
        <br/>
    </div>
    <div class="fake-lottery">
        {% if points_results %}
        <div style="font-style: italic">Run an unofficial/test lottery to see how it works</div>
        <form action="/lottery" method="POST"
              enctype="multipart/form-data">
            <div class="input-group">
                <br/>
                <span class="input-group-addon">Select a rotation number for running the lottery:</span>
                <select name="rotation_select" class="selectpicker form-control">
                    {% for rotation in rotations %}
                    <option value="{{ rotation }}">{{ rotation }}</option>
                    {% endfor %}
                </select>
            </div>
            <br/>
            <input type="submit" value="Begin Lottery"/>
        </form>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}