<!DOCTYPE html>
<html>
<head>
    <title>Results by Rotation</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
</head>

<body>
<div id="page-wrapper">
    <div class="container">
        <div class="col-md-12">
            <br/>
            <h3>Rotation Selected: {{ rotation_name }}</h3>
            <br/>
            <div class="results-holder">
                <div>Lottery winners by date:</div>
                <br/>
                <ul style="list-style: none; max-height: 500px; overflow:auto; width:50%">
                    {% for date in all_dates %}
                    <li>{{ date.strftime('%Y-%m-%d, %H:%M') }}: <b>{{ all_winners[loop.index - 1] }}</b></li>
                    {% endfor %}
                </ul>
            </div>
            <br/>
            <div>Click <span><a href="{{ url_for('stats')}}">here</a></span> to go back</div>
            <br/>
        </div>
    </div>
</div>
</body>
</html>