<!DOCTYPE html>
<html>
<head>
    <title>Lottery Results</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/main.css"/>
</head>

<script type="text/javascript">
    var schoolSelected = {{school_selected | tojson}};
</script>
<script>

    function getClassData() {
        $("#date_select").html('')
        $("#rotation_select").html('')
        let yearSelected = $('#class_select').find(":selected").text();
        $.ajax({
            type: 'POST',
            url: '/graduating_class',
            data: {"school": schoolSelected, "year": yearSelected},
            success: function (res) {
                let datesRun = res['dates_run'];
                if (datesRun.length > 0) { //if data exists for given year
                    let rotationsRun = res['rotations_run'];
                    let rotationNames = res['rotation_names']

                    let datesList = document.getElementById('date_select').options;
                    let rotationsList = document.getElementById('rotation_select').options;

                    datesRun.forEach(date =>
                        datesList.add(
                            new Option(date.split(':')[0] + ":" + date.split(':')[1], date)
                        )
                    );

                    rotationsRun.forEach(rotation =>
                        rotationsList.add(
                            new Option(rotationNames[rotation - 1], rotation) // text, value
                        )
                    );
                    $("#dates-holder").show();
                    $("#rotations-holder").show();
                    $("#no-results-holder").hide()
                } else {
                    $("#dates-holder").hide();
                    $("#rotations-holder").hide();
                    $("#no-results-holder").show()
                }
            }
        });
    }

</script>
<body>
<div id="page-wrapper">
    <!-- Nav -->
    <div class="container">
        <div class="col-md-12">
            <br/>
            {% if school_selected %}
            <div class="school-results">
                {% if dates|length == 0 %}
                <h4><strong>No Lottery Results for <span id="school_selected">{{ school_selected }}</span></strong>
                </h4>
                <br/>
                <h5>Check another school for past lottery results</h5>
                <div class="col-md-12"><br/>Click <span><a href="{{ url_for('stats')}}">here</a></span> to try a
                    different school
                </div>
                {% else %}
                <h4><strong>Past Lottery Results for {{ school_selected }}</strong></h4>
                <br/>
                <div>Please select a graduating class:</div>
                <div class="col-md-6" style="width:50%">
                    <div class="form-group">
                        <div class="input-group">
                            <select name="class_select" id="class_select" class="selectpicker form-control"
                                    style="background: transparent; width: 20%; padding-left: 1%; border-radius: 10px">
                                {% for class in graduating_classes %}
                                    <option value="{{ class }}">{{ graduating_classes[loop.index-1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br/>
                        <button class="btn btn-default" onclick="getClassData()">Go</button>
                    </div>
                </div>
                <br/>
                <div class="col-md-6" id="no-results-holder" style="width:50%; display: none">
                    <div>No results found - try another year</div>
                </div>
                <div class="col-md-6" id="dates-holder" style="width:50%; display: none">
                    <br/>
                    <h4>Filter by date run:</h4>
                    <br/>
                    <form class="form-inline" method="POST" action="{{ url_for('dates') }}">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Select a date</span>
                                <select id="date_select" name="date_select" size="10" class="selectpicker form-control">

                                </select>
                            </div>
                            <br/>
                            <button type="submit" class="btn btn-default">Go</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6" id="rotations-holder" style="width: 50%; display:none">
                    <br/>
                    <h4>Filter by rotation:</h4>
                    <br/>
                    <form class="form-inline" method="POST" action="{{ url_for('rotations') }}">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Select a rotation</span>
                                <select name="rotation_select" id="rotation_select" class="selectpicker form-control">
                                </select>
                            </div>
                            <br/>
                            <button type="submit" class="btn btn-default">Go</button>
                        </div>
                    </form>
                </div>
                <br/>
                <div class="col-md-12"><br/>Click <span><a href="{{ url_for('stats')}}">here</a></span> to go back
                </div>
                {% endif %}
            </div>
            {% else %}
            <div class="select-school">
                <h4>Please select a school to view lottery results</h4>
                <br/>
                <form action="/school_results" method="POST" enctype="multipart/form-data">
                    <div class="input-group">
                        <span class="input-group-addon">Medical School</span>
                        <select name="school_select" id="school-selected" class="selectpicker form-control">
                            {% for organization in organizations %}
                            <option value="{{ organization }}">{{ organizations[loop.index-1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br/>
                    <input type="submit" value="View Results"/>
                </form>
            </div>
            <div class="col-md-12"><br/>Click <span><a href="{{ url_for('profile')}}">here</a></span> to go back</div>
            {% endif %}

        </div>
        <br/>
    </div>
</div>
</body>

</html>