{% extends "base.html" %}

{% block content %}
<div class="col-md-12" style="text-align: left">
    <h1>Thanks for submitting your points! </h1>
    <br/>
    <h4>You can resubmit your point allocations at any time <span><a style="color: blue" href="{{ url_for('profile')}}">here</a></span> until an official lottery has been launched</h4>
    <br/>
    <div class="col-md-12">
        <div>In the meantime, you can:</div>
        <div>1. Click <span><a style="color: blue" href="{{ url_for('stats')}}">here</a></span> to see results for past
            official lotteries
        </div>
        <div>2. Tell your friends to sign up and register their points</div>
    </div>
</div>
{% endblock %}