<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="col-md-12">
        <br/>
        <div class="col-md-12">
            <h4>File Upload</h4>
            <br/>
            <div class="col-md-6">
                <form action="/results" method="POST"
                      enctype="multipart/form-data">
                    <div class="input-group">
                        <span class="input-group-addon">Select a rotation number</span>
                        <select name="rotation_select" class="selectpicker form-control">
                            {% for rotation in rotation_numbers %}
                            <option value="{{ rotation }}">{{ rotation }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br/>
                    <br/>
                    <div style="font-style: italic">Choose a file in xls or xlsx format</div>
                    <input type="file" name="file" accept=".xls, .xlsx"/>
                    <br/>
                    <input type="submit"/>
                </form>
            </div>
            <div class="col-md-6">
                <div>The format must match something like this:</div>
                <br/>
                <img src="{{ sample_image }}" alt="Sample Upload">
            </div>
            <br/>
        </div>
    </div>
</body>
</html>